<div class="container">
  <div class="row">
    <form action="/artifact_insert" method="post">
      <div class="col-md-3">
        <div class="parts_id.1">
          <label for="artifacts">聖遺物</label>
          <select id="artifacts" name="artifacts" required>
            <option value="1">氷風を彷徨う勇士</option>
            <option value="2">雷を鎮める尊者</option>
            <option value="3">烈火を渡る賢者</option>
            <option value="4">愛される少女</option>
            <option value="5">剣闘士のフィナーレ</option>
            <option value="6">翠緑の影</option>
            <option value="7">大地を流浪する楽団</option>
            <option value="8">雷のような怒り</option>
            <option value="9">燃え盛る炎の魔女</option>
            <option value="10">旧貴族のしつけ</option>
            <option value="11">血染めの騎士道</option>
            <option value="12">悠久の磐岩</option>
            <option value="13">逆飛びの流星</option>
            <option value="14">沈淪の心</option>
            <option value="15">千岩牢固</option>
            <option value="16">蒼白の炎</option>
            <option value="17">追憶のしめ縄</option>
            <option value="18">絶縁の旗印</option>
            <option value="19">華館夢醒形骸記</option>
            <option value="20">海染硨磲</option>
            <option value="21">辰砂往生録</option>
            <option value="22">来歆の余響</option>
            <option value="23">深林の記憶</option>
            <option value="24">金メッキの夢</option>
            <option value="25">砂上の楼閣の史話</option>
            <option value="26">楽園の絶花</option>
            <option value="27">水仙の夢</option>
            <option value="28">花海甘露の光</option>
            <option value="29">旅人の心</option>
            <option value="30">奇跡</option>
            <option value="31">狂戦士</option>
            <option value="32">教官</option>
            <option value="33">亡命者</option>
            <option value="34">守護の心</option>
            <option value="35">勇士の心</option>
            <option value="36">武人</option>
            <option value="37">博徒</option>
            <option value="38">学者</option>
            <option value="39">冒険者</option>
            <option value="40">幸運</option>
            <option value="41">医者</option>
          </select>
          <br>
          <label for="parts">部位</label>
          <select required id="parts" name="parts">
            <option value="1">花</option>
            <option value="2">羽</option>
            <option value="3">砂</option>
            <option value="4">杯</option>
            <option value="5">冠</option>
          </select>
          <br>
          <label for="quality">レア度</label>
          <input type="checkbox" id="quality" name="5star" checked>
          <label for="5star">星5</label>
          <input type="checkbox" id="quality" name="4star">
          <label for="4star">星4</label>
          <input type="checkbox" id="quality" name="3star">
          <label for="3star">星3</label>
          <br>
          <label for="mainop">メインOP</label>
          <select required id="mainop" name="mainop">
            <option value="1">HP</option>
            <option value="2">攻撃力</option>
            <option value="3">元素熟知</option>
            <option value="4">HP％</option>
            <option value="5">攻撃力％</option>
            <option value="6">炎元素ダメージ</option>
            <option value="7">水元素ダメージ</option>
            <option value="8">氷元素ダメージ</option>
            <option value="9">雷元素ダメージ</option>
            <option value="10">風元素ダメージ</option>
            <option value="11">岩元素ダメージ</option>
            <option value="12">草元素ダメージ</option>
            <option value="13">防御力％</option>
            <option value="14">物理ダメージ</option>
            <option value="15">元素チャージ効率</option>
            <option value="16">会心率</option>
            <option value="17">会心ダメージ</option>
            <option value="18">与える治療効果</option>
          </select>
          <br>
          <label for="subop">サブOP</label>
          <select required id="subop" name="subop1">
            <option value="1">HP</option>
            <option value="2">HP％</option>
            <option value="3">攻撃力</option>
            <option value="4">攻撃力％</option>
            <option value="5">防御力</option>
            <option value="6">防御力％</option>
            <option value="7">元素熟知</option>
            <option value="8">元素チャージ効率</option>
            <option value="9">会心率</option>
            <option value="10">会心ダメージ</option>
          </select>
          <input required type="number" id="subop" name="subnum1" step="0.1">
          <select required id="subop" name="subop2">
            <option value="1">HP</option>
            <option value="2">HP％</option>
            <option value="3">攻撃力</option>
            <option value="4">攻撃力％</option>
            <option value="5">防御力</option>
            <option value="6">防御力％</option>
            <option value="7">元素熟知</option>
            <option value="8">元素チャージ効率</option>
            <option value="9">会心率</option>
            <option value="10">会心ダメージ</option>
          </select>
          <input required type="number" id="subop" name="subnum2" step="0.1">
          <select required id="subop" name="subop3">
            <option value="1">HP</option>
            <option value="2">HP％</option>
            <option value="3">攻撃力</option>
            <option value="4">攻撃力％</option>
            <option value="5">防御力</option>
            <option value="6">防御力％</option>
            <option value="7">元素熟知</option>
            <option value="8">元素チャージ効率</option>
            <option value="9">会心率</option>
            <option value="10">会心ダメージ</option>
          </select>
          <input required type="number" id="subop" name="subnum3" step="0.1">
          <select required id="subop" name="subop4">
            <option value="1">HP</option>
            <option value="2">HP％</option>
            <option value="3">攻撃力</option>
            <option value="4">攻撃力％</option>
            <option value="5">防御力</option>
            <option value="6">防御力％</option>
            <option value="7">元素熟知</option>
            <option value="8">元素チャージ効率</option>
            <option value="9">会心率</option>
            <option value="10">会心ダメージ</option>
          </select>
          <input required type="number" id="subop" name="subnum4" step="0.1">
          <input type="submit" value="保存" />
        </div>
      </div>
    </form>
  </div>
</div>