<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <form action="/artifact_db/insert" method="post">
    <label>聖遺物の選択</label>
    <select name="artifacts">
      
    </select>
    <input type="submit" value="追加"/>
  </form>
  <ul>
    <% for(let todo of todos){ %>
      <li><span><%= todo %></span></li>
    <% } %>
  </ul>
  </body>
</html>